* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    width: 840px;
    height: 500px;
    display: flex;
    margin: 40px auto;
    overflow: hidden;
}

.wrap li {
    width: 120px;
    height: 100%;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    float: left;
}

.nav {
    width: 120px;
    height: 500px;
    float: left;
}

.inner {
    width: calc(100% - 120px);
    height: 500px;
    float: left;
}