* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 105, 105, 0.389);
}

#box {
    width: 900px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 10px white solid;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
}

.images {
    width: 300%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
}

.img {
    width: 100%;
    background-size: cover;
}

.img:nth-child(1) {
    background-image: url(../images/image1.jpg);
}

.img:nth-child(2) {
    background-image: url(../images/image2.jpg);
}

.img:nth-child(3) {
    background-image: url(../images/image3.png);
}

.dots {
    width: 30%;
    position: absolute;
    bottom: 15px;
    left: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.left{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: rgb(255, 255, 255,0.4);
    cursor: pointer;
}
.right{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    right: 0px;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: rgb(255, 255, 255,0.4);
    cursor: pointer;
}