body{
    /* background-color: #5acce9; */
    margin: 0;
    border: 0;
    background-image: url(https://img2.baidu.com/it/u=1987403006,2157951224&fm=253&fmt=auto&app=120&f=JPEG?w=1055&h=587);
    background-repeat: no-repeat;
    background-size:contain;
}
div{
    margin-top: 25%;
    text-align: center;
    font-size: 3em;
    font-family: '宋体';
    font-weight: 700;
}
#one{
    animation: blink 3s infinite;
}
#one p:first-child{
    color: red;
}
#one p:nth-child(2){
    color: bisque;
}
#one p:nth-child(3){
    color: aqua;
}
#one p:last-child{
    color: rgb(8, 160, 180);
}
@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 0;}
}
#two{
    font-size: 2em;
    font-family: '楷体';
}
#two::first-letter{
    color:rgb(162, 172, 156)
}
#two::first-line{
    text-decoration: underline;
}
#two::selection{
    color:red
}
.maq{
    overflow: hidden;
    box-sizing: border-box;
    animation: zuoma 9s linear infinite;
}
@keyframes zuoma{
    0%{transform: translateX(80%);}
    100%{transform: translateX(-80%);}
}
#three span::after{
    content: "Aidsun撰写";
    font-size: 20px;
    font-weight:inherit;
}
#three span::before{
    content: "由";
    font-size: 20px;
    font-weight:inherit;
}