#father{
    width: 80vw;
    height: 1800px;
    border: 10px solid black;
    position: relative;
    margin: 0 auto;
}
/* #one{
    width: 350px;
    height: 350px;
    background-color: pink;
    border: 10px solid blue;
    position: absolute;
    top: 175px;
    left: 175px;
    z-index: 1;
}
#two{
    width: 250px;
    height: 250px;
    background-color: rgb(70, 66, 67);
    border: 10px solid blue;
    position: absolute;
    top: 225px;
    left: 225px;
    z-index: 2;
} */
#top{
    width: 100vw;
    height: 70px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: '楷体';
    background-image: linear-gradient(to top left,rgb(21, 202, 175),rgb(24, 205, 221),rgb(251, 197, 206));
    border-radius: 10px 10px;
    position:sticky;
    top: 2px;
    z-index: 5;
}