body{
    background-image: url("https://img2.baidu.com/it/u=3800521252,2844896694&fm=253&fmt=auto&app=138&f=JPEG?w=889&h=500");
    background-repeat: no-repeat;
    background-size: contain;
}
p{
    font-size: 2em;
    font-family: '宋体';
    text-align: center;
    margin-top: 20%;
    opacity: 0.5;
    color: blanchedalmond;
}
p:hover{
    color: aqua;
}
.rainbow-bridge {
    position: relative;
    opacity: 0.8;
    margin-top: 400px;
    height: 90px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 1400% auto;
    animation: rainbow 10s linear infinite;
    border-radius: 25px;
  }

  @keyframes rainbow {
    0% { background-position: 0% }
    50% {background-position: 50%}
    100% { background-position: 100% }
  }